{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <h2>Add Topic</h2>
            <form method="post" action="/criteria/add">
              <div class="form-group">
                <p>
                    <label class="form-control" for="topic">Topic</label>
                    <input type="text" class="form-control" id="topic" name="topic" placeholder="Topic as noun" /></p>
                </div>
                <div class="form-group">
                <p>
                    <label class="form-control" for="tag">Tag</label>
                    <input type="text" class="form-control" id="tag" name="tag" placeholder="Tag (optional)" /></p>
                </div>
                <div class="form-group">
                <p><button class="btn btn-default">Add</button></p>
              </div>
            </form>
            <h2>Topic list</h2>
            <table class="table">
                <thead>
                    <th>Id</th><th>Topic</th><th>Tag</th>
                </thead>
                <tbody>
                {% for topic in topics %}
                    <tr><td>{{ topic.id }} <a href="/criteria/{{ topic.id }}/delete">Delete</a></td><td>{{ topic.topic }}</td><td>{{ topic.tag }}</td></tr>
                {% endfor %}
                </tbody>
            </table>
            <p><a href="/rate/new" class="btn btn-link" role="button">Rate a review</a></p>    
        </div>
    </div>
{% endblock %}