{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <h2>Review</h2>
            <p>{{ review.review }}</p>
            <h2>Results</h2>
            <ul>
                    {% for expression in review.lines %}
                        <li>{{ expression.expression }} {{ expression.score }} {{ expression.feedback == 1 ? 'POSITIVE' : (expression.feedback == -1 ? 'NEGATIVE' : 'NEUTRAL') }}</li>
                        {% endfor %}

            </ul>
            <p><a href="/rate/new" class="btn btn-link" role="button">Rate another</a></p>    
        </div>
    </div>
{% endblock %}